@using Oak.I18n
@using Common.Client
@using Common.Shared.Auth
<div class="root jc-c ai-c">
    <RadzenCard class="p-3 w-35 flx col ai-c">
        <RadzenImage Path="/image/forest.png" class="res-t"></RadzenImage>
        <RadzenText class="m-t-0" TextStyle="TextStyle.H2">@L.S(S.HomeHeader)</RadzenText>
        <RadzenText class="txt-j" TextStyle="TextStyle.Body1" >@L.S(S.HomeBody)</RadzenText>
        <div class="flx m-t-0h ai-c g-1">
            @if (Session.IsAuthed)
            {
                <RadzenButton ButtonStyle="ButtonStyle.Primary" Text="@L.S(S.OrgMyOrgs)" Click="@(() => Nav.NavigateTo("/my_orgs"))"/>
            }
            else
            {
                <RadzenButton ButtonStyle="ButtonStyle.Secondary" Text="@L.S(S.SignIn)" Click="@(() => Nav.NavigateTo("/sign_in"))"/>
                <RadzenText TextStyle="TextStyle.Body1" class="m-0">@L.S(S.Or)</RadzenText>
                <RadzenButton ButtonStyle="ButtonStyle.Primary" Text="@L.S(S.Register)" Click="@(() => Nav.NavigateTo("/register"))"/>
            }
        </div>
    </RadzenCard>
</div>
@inject L L;
@inject NavigationManager Nav;
@code{

    [CascadingParameter]
    public ISession Session { get; set; } = default!;
    protected override void OnInitialized()
    {
        if (Session.IsAuthed)
        {
            Nav.NavigateTo("/my_orgs");
        }
    }
}