@using Common.Client
@using Common.Shared
@using Common.Shared.Auth
@using Oak.Api.Org
@using IApi = Oak.Api.IApi
@using S = Oak.I18n.S

<div class="root">
    <div class="flx col p-0h g-0h jc-s ai-s">
        <RadzenText class="m-t-0" TextStyle="TextStyle.H2">@L.S(S.OrgMyOrgs)</RadzenText>
        <RadzenButton class="m-b-1" ButtonStyle="ButtonStyle.Success" Icon="add_circle_outline" Text="@L.S(S.New)" Click="@OpenNewDialog"/>
        <RadzenCard class="w-25">
            <RadzenDataGrid
                @ref="_orgsGrid"
                Data="Orgs"
                TItem="Org"
                IsLoading="_isLoading"
                EmptyText="@L.S(S.OrgNoOrgs)"
                EditMode="DataGridEditMode.Single"
                RowClick="RowClick"
                class="row-clickable">
                <Columns>
                    <RadzenDataGridColumn TItem="Org" Property="Name" Title="@L.S(S.Name)"/>
                    <RadzenDataGridColumn Width="8rem" TItem="Org" Property="CreatedOn" Title="@L.S(S.CreatedOn)">
                        <Template Context="org">
                            @L.D(org.CreatedOn)
                        </Template>
                    </RadzenDataGridColumn>
                </Columns>
            </RadzenDataGrid>
        </RadzenCard>
    </div>
</div>

@inject L L;
@inject IApi Api;
@inject NavigationManager Nav;
@inject DialogService DialogService;
@code{

    [CascadingParameter]
    public ISession Session { get; set; } = Common.Shared.Auth.Session.Default(S.DefaultLang, S.DefaultDateFmt, S.DefaultTimeFmt);

    RadzenDataGrid<Org> _orgsGrid = default!;
    List<Org> Orgs { get; set; } = new ();
    private bool _isLoading = false;

    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;
        try
        {
            Orgs.AddRange(await Api.Org.Get(new()));
            await _orgsGrid.Reload();
        }
        finally
        {
            _isLoading = false;
        }
    }

    private void OpenNewDialog()
    {
        DialogService.Open<NewOrg>(L.S(S.OrgNewOrg));
    }

    private void RowClick(DataGridRowMouseEventArgs<Org> e)
    {
        Nav.NavigateTo($"/org/{e.Data.Id}");
    }

}